<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <style>
    body {
      background-color: bisque;
    }

    form {
      position: relative;
      text-align: center;
    }
    h1{
      text-align: center;
    }
    button:hover{
      color:red;
    }
  </style>
</head>

<body>
  <h1>Login</h1>
  <form method="post" action="/dashboard">
    <input type="text" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <button type="submit"> Login </button>
    <a href="/createAccount"> Create Account </a>
  </form>
</body>
<script>
  window.onload = function () {
    const urlParams = new URLSearchParams(window.location.search);
    const loginFailed = urlParams.get('loginFailed');
    if (loginFailed) {
      alert("Login failed");
    }
  };
</script>

</html>