<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search Results</title>
  <style>
    body {
      background-color: bisque;
    }

    table {
      background-color: white;
    }
    button:hover{
      color:red;
    }

  </style>
</head>

<body>

  <%-content%>
  <script>
    
      alert("After Selecting books, scroll to bottom to add to favorites");
  </script>
</body>

</html>